* {
    box-sizing: border-bo;
    margin:0;
    padding: 0;
    font-size: 16px;
    color:  rgb(253, 253, 253);
}

header {
    height: 40px;
    padding: 25px 50px;
    display: flex;
    font-family: Minecraft, sans-serif;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(7, 5, 88);
}

.logo {
    width: 123px;
    margin-right: auto;  
    cursor: pointer;
}

.nav_list li{
    list-style: none;
    display: inline-block;
    padding: 3px 10px;
    mergin: 0 30px 0 0;
}

.nav_list li :hover {
    color: rgb(255, 91, 67);
}

.nav_list li a {
    color:  rgb(253, 253, 253);
    text-decoration: none;
    list-style: none;;
}

button {
    background-color: rgb(255, 91, 67);
    color: rgb(253, 253, 253);
    border: none;
    font-family: Minecraft, sans-serif; 
    margin: 0 0 0 15px;
    padding: 9px 15px 7px 15px;
    border-radius: 40px;
}

button:hover {
    cursor: pointer;
    background-color:rgb(253, 253, 253);
    color:rgb(7, 5, 88) ;
}

